.comment_section {
  margin-top:20px;
  padding: 10px;
  border-top: 2px solid rgba(0, 0, 0, .5);
}

.comment {
  border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.comment_header {
  font-size: 10pt;
  margin-top: 2px;
  font-weight: 500;
  color: rgb(37, 166, 184);
}

.comment_author {
  margin-right: 20px;
}
